
.heading {
    font-weight: 400;
    text-align: center;
    padding: 30px;
    font-size: 22px;
  }
  .heading_span {
    color: var(--main-text-color);
  }

.form{
    display: flex;
    flex-direction: column;
    max-width: 420px;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}
.label{
  font-size: 17px;
  /* margin: 10px; */
}
 .input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    margin-top: 10px;
}
.btn{
    height: 30px;
    width: 230px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-btn-color);
    color: white;
    cursor: pointer;
    margin-bottom: 20px;

}
.mess{
  text-align: center;
  font-weight: 500;
  padding-bottom: 20px;
  
  color: rgb(2, 182, 2);

}