.product_container {
  background-color: var(--main-background-color-light-gray);
  font-size: 25px;
  padding-bottom: 30px;
}
.product_head {
  font-weight: 300;
  text-align: center;
  padding: 30px;
}
.product_head_roduct {
  color: var(--main-text-color);
}
.catagory_contaier {
  background-color: rgba(214, 214, 214, 0.509);
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  font-weight: 300;
  padding: 10px;
}
.catagory_active {
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.525);
}
.all_products_container {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  /* padding: 20px; */
  justify-content: center;
  align-items: center;
  margin: auto;

  /* background-color: antiquewhite; */
}
.product {
  cursor: pointer;
}
.no_product{
  text-align: center;
  font-size: 14px;
  /* padding-bottom: 30px; */
}

/*============================== CATAGORIE SLIDER================================= */
.slider_wrapper {
  background-color: rgba(214, 214, 214, 0.509);
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* max-width: 1200px; */
  margin: auto;
  font-weight: 300;
  padding: 10px;
  max-width: 850px;
  margin-bottom: 30px;
  color: rgba(128, 128, 128, 0.504);
  padding-left: 30px;
  padding-right: 30px;
}
.silder_container {
  display: flex;
  overflow: hidden;
  width: 700px;
  /* background-color: #9c4949; */
  padding: 10px;
  margin: auto;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.silder_container::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}

.scrollable_categories {
  display: flex;
  scroll-snap-type: x mandatory;
}

.category {
  margin-right: 30px; /* Adjust spacing between categories */
  font-size: 11px;
  cursor: pointer;
  flex: 0 0 auto;
  scroll-snap-align: start;
  color: black;
  font-weight: 500;
  transition: border-bottom 0.3s ease; /* Add a transition effect */
}

.selected {
  border-bottom: 2px solid #8282827f; /* Adjust color as needed */
  min-width: 50px;
  text-align: center;
}

.slide_container {
  display: flex;
  transition: transform 0.5s ease;

  width: 100px;

  /* overflow-x: auto; */
}

.slide-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

/*=============================================================== */

@media (max-width: 600px) {
  .slider_wrapper {
    background-color: rgba(214, 214, 214, 0.509);
    gap: 10px;

    font-weight: 300;

    max-width: 850px;

    padding-left: 10px;
    padding-right: 10px;
  }
  .silder_container {
    width: 100%;
    padding: 10px;
  }
  .all_products_container {
    gap: 15px;
  }
}
